.containerTextoAnimacao div{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: animacaoTexto 10s ease infinite;
}

.containerTextoAnimacao{
    overflow-y: hidden;
    height: 7rem;
}


@keyframes animacaoTexto {
    0% {
        top: -2rem;
    }
    
    25% {
        top: -12rem;
    }

    50% {
        top: -22rem;
    }
    75% {
        top: -32rem;
    }
    100% {
        top: -39.5rem;
    }

}