
a{
  color: #f1f1f1;
  font-family: Poppins;
}
 
p{
  color: #f1f1f1;
  font-family: Poppins;
  font-size:  2.7rem;
  transition: 1s ease-in-out
}


.letraDestaqueVerde{
  font-family: Poppins;
  font-weight: bold;
  color: #48CFAE;
}

