html {
  background-image: url('./assets/landingPage.png');
  height: 100vh;
  background-color:#1E1E1E;
  background-repeat: no-repeat;
  background-size: cover;
}

p, a{
  color: #f1f1f1;
}

.App {

}

